.header{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:46px;
    background:#ffffff;
    padding-left:20px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#0000e0;
    border-bottom-color:rgba(0,0,0,.25);
    box-shadow:0 0 1px #000;
    z-index:1;
    overflow-y:hidden
}
.menuitem{
    position:relative;
    top:0;
    height:35px;
    line-height:46px;
    margin-left:16px;
    margin-right:16px;
    color:#000;
    color:rgba(0,0,0,.87);
    font-family:avenirnext,helvetica neue,Arial,Helvetica,sans-serif;
    font-size:14px;
    font-weight:700;
    float:left;
    cursor:pointer;
    text-decoration:none
}
.menuitem.selected{
    border-bottom:2px solid #262626
}
.menuitem.selected:hover{
    border-bottom:2px solid rgb(38,38,38,.5)
}
.content{
    position:absolute;
    left:0;
    top:46px;
    bottom:46px;
    width:100%
}
.iframe{
    width:50%;
    height:100%;
    border:none;
	float:left;
}
.iframetwo{
    width:50%;
    height:100%;
    border:none;
	float:right;
}
.footer{
    position:fixed;
    width:100%;
    height:46px;
    left:0;
    bottom:0;
    background:#ffffff;
    padding-left:20px;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#0000e0;
    border-top-color:rgba(0,0,0,.25);
    box-shadow:0 0 1px #000;
    z-index:1;
    overflow-y:hidden
}
